<!doctype>
<html>
<head>
<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>
<%= javascript_include_tag "angular-resource" %>
<%= javascript_include_tag "angular-route.min" %>

<body  ng-app="CategoryApp">

<div ng-controller="CategoryAds" >

<!-- ng-init="ads = [{title:'golf2', price:'10000'}]"  -->


<div style="margin-top: 30px; ">
    

<h2>Your Shopping Cart</h2>


<div ng-repeat="subject in subjects">


<b>ID:</b> {{subject.id}} <b>Title:</b> {{subject.title}} <b>Price:</b> {{subject.price}} <button type="button" class="btn btn-default btn-sm" ng-click="izbrisiizkorpe(subject.id, subject.title, subject.price)">[X]</button>
</div>


  </br>
  </br>
  <a href="#home"><button type="button" class="btn btn-primary btn-normal" ng-click="">Back to Shop</button></a>
  <a href="#home"><button type="button" class="btn btn-primary btn-normal" ng-click="">Chackout</button></a>
  <a href="#home"><button type="button" class="btn btn-primary btn-normal" ng-click="">PayPal</button></a>
</div>

</div>
</div>

</body>
</html>

