<!doctype>
<html>
<head>

<body  ng-app="CategoryApp">

<div ng-controller="CategoryAds" style="">

<!-- ng-init="ads = [{title:'golf2', price:'10000'}]"  -->


<div style=" ">
    
<h3 style="" class="page-header">Shopping cart</h3>

</br>


<div ng-repeat="subject in subjects">


<b>ID:</b> {{subject.id}} <b>Title:</b> {{subject.title}} <b>Price:</b> {{subject.price}} <button type="button" class="glyphicon glyphicon-remove" ng-click="izbrisiizkorpe(subject.id, subject.title, subject.price);"></button>
 <button type="button" class="glyphicon glyphicon-ok"  ng-click="DodajRezervacijuNaOglas(subject.id, $localStorage.user_id, $localStorage.username); izbrisiizkorpe(subject.id, subject.title, subject.price);">Rezervisi</button>


</div>
___________________________________ <br/>
<h3><b>TOTAL:</b> {{total()}} KM </h3>



  </br>
  </br>
  <a href="#home"><button type="button" class="btn btn-primary btn-normal" ng-click="">Back to Shop</button></a>
   <a href="#home"><button type="button" class="btn btn-primary btn-normal">PayPal</button></a>
</div>

<div ng-show="isPopupVisible" class="ng-hide">
</br>
</br>

</div>


<div data-ng-init="cart()">
<div ng-repeat="item in items">
    
    </div>


</div>


</div>
</div>

</body>
</html>

