 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="stylesheets/application.css">
<body ng-app="CategoryApp">
<h2> Login </h2><br/>

<form role="login" ng-controller="CategoryAds" >
     <input type="text" class="span2 form-control" id="inputEmail" placeholder="Email" ng-model="user.email">
     <input class="form-control" style="margin-bottom: 15px; margin-top: 10px;" type="password" ng-model="user.password" size="45" placeholder="Password" />
     <input style="float: left; margin-right: 10px; margin-bottom: 15px; " type="checkbox" value="1"/>
     <label class="string optional" for="user_remember_me">Zapamti</label>
     <button class="btn btn-primary" style="clear: left; margin-bottom: 10px; width: 80%; height: 32px; font-size: 13px;" ng-click="login(user)" >Prijavi se</button>
</form>
</body>