 <html>
<%= javascript_include_tag "angular-translate" %>      
 <head>
</head>
<body ng-app="CategoryApp">
<div style="">
<h3 class="page-header"> {{ 'LOGIN' | translate }} </h3><br/>
<alert style="width: 450px;" ng-repeat="alert in login_alerts" type="{{alert.login_type}}">{{alert.login_msg}}</alert>
<form name="loginForm" ng-controller="CategoryAds" novalidate>
     <input type="text" class="span2 form-control" id="inputEmail" placeholder="{{ 'Email' | translate }}" ng-model="user.email" style="width: 250px;" required>
     <input class="form-control" style="margin-bottom: 15px; margin-top: 10px;width: 250px;" type="password" ng-model="user.password" placeholder="{{ 'PASSWORD' | translate }}" required>
    <a class="btn btn-primary" style=" margin-bottom: 10px; width: 80px; height: 32px; font-size: 13px;" href="" ng-click="login(user)" style="width: 250px;" ng-disabled="loginForm.$invalid"><font color="white">{{ 'LOGIN' | translate }}</font></a>
</form>
<br/>
<h4>{{ 'NOT_REGISTERED' | translate }}? </h4><a href="#registracija">{{ 'REGISTER' | translate }}</a> 
</div>
</body>
</html>