<!DOCTYPE html>
<html>
<head>
<%= javascript_include_tag "angular-translate" %>    
    
</head>
<body ng-app="CategoryApp">

        <div ng-controller="EmailController"  style=" padding-top: 10px;">
    <ul class="nav nav-tabs" >
        <li >
            <a ng-click="activeTab='inbox'">{{ 'INBOX' | translate }}</a>
        </li>
        <li >
            <a href="#sent" ng-click="activeTab='sent'">{{ 'SENT' | translate }}</a>
        </li>
    </ul>    
    <table  class="table table-bordered table-condensed" data-ng-init="populateInbox()">
        <tbody>
            <tr>
            <td>{{ 'FROM' | translate }}</td>
            <td>{{ 'TITLE' | translate }}</td>
            <td>{{ 'DATE' | translate }}</td>    
            </tr>
            <tr ng-repeat="message in messages">
                <td>{{ message.sender_username }}</td>
                <td>{{ message.title }}</td>
                <td>{{ message.timestamp | date : 'MM/dd/yyyy'}}</td>
                <td><a href="#show_message"  ng-click="otvoriPoruku(message)" >{{ 'SHOW_MESSAGE' | translate }}</a> </td>
                
            </tr>
        </tbody>
    </table>
    
    <a href="#new_message" class="btn btn-primary" >{{ 'COMPOSE_MESSAGE' | translate }}</a>
    
</div>
        
</body>
</html>


