<!doctype>
<html>
<head>
<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>
<%= javascript_include_tag "angular-resource" %>
<%= javascript_include_tag "angular-route.min" %>


<body  ng-app="CategoryApp">

<div ng-controller="CategoryAds" data-ng-init="profil()" class="container" >
    
    <h2 class="page-header"> Dobrodošli na Vaš profil! </h2><br/>
    
    <%= image_tag("default.jpg") %>
    <h2>{{user.username}}</h2>
    <h4>Ime: {{user.firstname}}</h4>
    <h4>Prezime: {{user.lastname}}</h4>
    <h4>Email: {{user.email}}</h4>
    <h4>Grad: {{user.city}}</h4>
    <h4>Adresa: {{user.adress}}</h4>
    <h4>Br. tel.: {{user.tel_num}}</h4>
    
    <br/>
    <div ><b><a href="#editprofile">Uredi profil</a></b></div>
    </div>

</body>
</html>