<!doctype>
<html>
<head>

<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>
<%= javascript_include_tag "angular-translate" %>    
</head>
<body ng-app="CategoryApp" >
<div ng-show="reg_and_login_value" style="" ng-controller="CategoryAds" data-ng-init="pokreniDodavanjeOglasa()"> 
    <h2 class="page-header"> {{ 'NEW_AD' | translate }} </h2><br/>
<form name="NewAd"  > 
    <alert style="width: 450px;"ng-repeat="alert in new_ad_alerts" type="{{alert.new_ad_type}}">{{alert.new_ad_msg}}</alert>
{{ 'DEPARTMENT' | translate }}:<br/>
<select ng-model = "ad.section" class="form-control" style="width: 250px; margin-top: 5px; ">

<option ng-model = "ad.section" value="AE">{{ 'AUTOMATIC' | translate }}</option>
<option ng-model = "ad.section" value="EE">{{ 'ENERGETIC' | translate }} </option>
<option ng-model = "ad.section" value="RI">{{ 'INFORMATIC' | translate }} </option>
<option ng-model = "ad.section" value="TK">{{ 'TELECOMUNICATION' | translate }}e </option>
  </select>
<br/>

{{ 'YEAR' | translate }}:
<select ng-model = "ad.academic_year" class="form-control" style="width: 250px; margin-top: 5px; ">
<option value="1">{{ 'FIRST' | translate }} </option>
<option value="2">{{ 'SECOND' | translate }} </option>
<option value="3">{{ 'THIRD' | translate }} </option>
<option value="4">{{ 'FOURTH' | translate }} </option>
<option value="5">{{ 'FIFTH' | translate }} </option>

  </select>
<br/>

     {{ 'TITLE' | translate }}:
    <input type="text" name="title" class="span2 form-control" id="Title" placeholder="{{ 'TITLE' | translate }}" ng-model="ad.title" style="width: 250px;  margin-top: 5px; " required>
    <br/>
    {{ 'PRICE' | translate }}:
     <input class="form-control" name="price" style=" margin-top: 5px;width: 250px;" type="number" ng-model="ad.price" placeholder="{{ 'PRICE' | translate }}" required>
    <br/>
    {{ 'AUTHOR' | translate }}:
    <input type="text" name="Author" class="span2 form-control" id="Author" placeholder="{{ 'AUTHOR' | translate }}" ng-model="ad.author" style="width: 250px;  margin-top: 5px; " required>
    <br/>
    <input type="checkbox" ng-model="ad.forexchange" name="forexchange" value="{{ad.forexchange}}" style="margin-bottom: 10px;">{{ 'FOR_EXCHANGE' | translate }}
    <br/>
    {{ 'DESCRIPTION' | translate }}:
    <textarea class="form-control" name="opis" style="width: 250px; margin-top: 5px;" ng-model="ad.description" rows="6" placeholder="{{ 'DESCRIPTION' | translate }}" required>
</textarea> 
    <br/>
    <a href="" class="btn btn-primary" style="margin-top:10px; margin-bottom: 10px; width: 80px; height: 32px; font-size: 13px;" ng-click="objavi(ad)" style="width: 250px;" ng-disabled="NewAd.$invalid">{{ 'PUBLISH' | translate }}</a>
</form>
    </div>   
<div ng-show="!reg_and_login_value">
    
    <h3 style="" class="page-header"></h3>
    <h4>Morate se prijaviti da bi ste objavili oglas za knjigu. </h4>
    <h5 style="width: 100px;" class="page-header"><a href="#login">Login</a></h5>
    <h5 style="width: 150px;" class="page-header"><a href="#registracija">Registracija</a></h5>
</div>
</body>
</html>
