<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="stylesheets/application.css">
<body ng-app="CategoryApp">
<form role="NewAd" ng-controller="CategoryAds" > 
    <input type="text" class="span2 form-control" id="Title" placeholder="Naslov" ng-model="ad.title" style="width: 250px;">
     <input class="form-control" style="margin-bottom: 15px; margin-top: 10px;width: 250px;" type="price" ng-model="ad.price" placeholder="Cijena">
    <input type="textfield" class="form-control" style="margin-bottom: 15px; margin-top: 10px;width: 250px;" type="description" ng-model="ad.description" placeholder="Ops">
    <input type="text" class="span2 form-control" id="inputEmail" placeholder="Email" ng-model="user.email" style="width: 250px;">
    <button class="btn btn-primary" style=" margin-bottom: 10px; width: 80px; height: 32px; font-size: 13px;" ng-click="objavi(ad)" style="width: 250px;">Objavis</button>
    
</body>