<html>
<head>
<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>
<%= javascript_include_tag "ui-bootstrap-0.11.0" %>
<%= javascript_include_tag "ui-bootstrap-tpls-0.11.0" %>

   

</head>
<body ng-app="CategoryApp">
<div  ng-controller="EmailController" style="padding-top: 10px;">
        
        <div>
            <form role="sendMessage">
                To:
                <input type="text" placeholder="{{message}}" style="width:95%;"
                    ng-model="message.receiver_username" ng-disabled="true"><br />
                Subject:
                <input type="text" placeholder="No Subject" style="width:95%;"
                    ng-model="message.title" required><br />
                Content:
                <textarea style="width:95%;" rows="10" 
                    ng-model="message.content" required></textarea>
                <a  class="btn btn-primary" ng-click="sendMessage(message)" ng-disabled="sendMessage.$invalid">Send</a>
            </form>
        </div>
        
    </div>
    </body>
    </html>