<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<body ng-app="CategoryApp">
<div class="container"> 
    <h2 class="page-header"> Novi oglas </h2><br/>
<form name="NewAd" ng-controller="CategoryAds" > 
    <alert style="width: 450px;"ng-repeat="alert in new_ad_alerts" type="{{alert.new_ad_type}}">{{alert.new_ad_msg}}</alert>
<select ng-model = "ad.section">
<option>-- Odsjek -- </option>
<option ng-model = "ad.section" value="Automatika">Automatika </option>
<option ng-model = "ad.section" value="Energetika">Energetika </option>
<option ng-model = "ad.section" value="RacunarstvoIinformatika">Računarstvo i informatika </option>
<option ng-model = "ad.section" value="Telekomunikacije">Telekomunikacije </option>
  </select>
<br/>
<br/>
<select ng-model = "ad.academic_year">
<option  selected>-- Studijska godina -- </option>
    
<option value="1">Prva </option>
<option value="2">Druga </option>
<option value="3">Treća </option>
<option value="4">Četvrta </option>
<option value="5">Peta </option>

  </select>
    
    <h2></h2>
   
    <input type="text" name="title" class="span2 form-control" id="Title" placeholder="Naslov" ng-model="ad.title" style="width: 250px;" required><span class="error"  ng-show="NewAd.title.$error.required">(Title Required)</span>
     <input class="form-control" name="price" style=" margin-top: 10px;width: 250px;" type="number" ng-model="ad.price" placeholder="Price" required> <span  ng-show="NewAd.price.$error.required">(Price required)</span>
    <input type="text" name="Author" class="span2 form-control" id="Author" placeholder="Author" ng-model="ad.author" style="width: 250px;" required><span class="error"  ng-show="NewAd.title.$error.required">(Author Required)</span>
    </br>
    </br>
    <input type="checkbox" ng-model="ad.forexchange" name="forexchange" value="{{ad.forexchange}}">For exchange<br>
   
    
    <textarea class="form-control" name="opis" style="width: 250px; margin-top: 10px;" ng-model="ad.description" rows="6" placeholder="Opis" required>
</textarea> <span  ng-show="NewAd.opis.$error.required">(Required)</span>
    
    <br/>
    <a href="#product_detail" class="btn btn-primary" style="margin-top:10px; margin-bottom: 10px; width: 80px; height: 32px; font-size: 13px;" ng-click="objavi(ad)" style="width: 250px;" ng-disabled="NewAd.$invalid">Objavi</a>
</form>
    </div>    
</body>

