<!doctype>
<html>
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>
<%= javascript_include_tag "angular-translate" %>    
</head>
<body ng-app="CategoryApp" >
<div ng-show="reg_and_login_value" style="margin-left: 20%;" ng-controller="CategoryAds" data-ng-init="pokreniDodavanjeOglasa()"> 
    <h2 class="page-header"> {{ 'NEW_AD' | translate }} </h2><br/>
<form name="NewAd"  > 
    <alert style="width: 450px;"ng-repeat="alert in new_ad_alerts" type="{{alert.new_ad_type}}">{{alert.new_ad_msg}}</alert>
Odsjek:<br/>
<select ng-model = "ad.section">

<option ng-model = "ad.section" value="AE">{{ 'AUTOMATIC' | translate }}</option>
<option ng-model = "ad.section" value="EE">{{ 'ENERGETIC' | translate }} </option>
<option ng-model = "ad.section" value="RI">{{ 'INFORMATIC' | translate }} </option>
<option ng-model = "ad.section" value="TK">{{ 'TELECOMUNICATION' | translate }}e </option>
  </select>
<br/>
<br/>
Godina:<br/>
<select ng-model = "ad.academic_year">
<option value="1">{{ 'FIRST' | translate }} </option>
<option value="2">{{ 'SECOND' | translate }} </option>
<option value="3">{{ 'THIRD' | translate }} </option>
<option value="4">{{ 'FOURTH' | translate }} </option>
<option value="5">{{ 'FIFTH' | translate }} </option>

  </select>
    
    <h2></h2>
   
    <input type="text" name="title" class="span2 form-control" id="Title" placeholder="{{ 'TITLE' | translate }}" ng-model="ad.title" style="width: 250px;" required><span class="error"  ng-show="NewAd.title.$error.required">({{ 'TITLE' | translate }} {{ 'REQUIRED' | translate }})</span>
     <input class="form-control" name="price" style=" margin-top: 10px;width: 250px;" type="number" ng-model="ad.price" placeholder="{{ 'PRICE' | translate }}" required> <span  ng-show="NewAd.price.$error.required">({{ 'PRICE' | translate }} {{ 'REQUIRED' | translate }})</span>
    <input type="text" name="Author" class="span2 form-control" id="Author" placeholder="{{ 'AUTHOR' | translate }}" ng-model="ad.author" style="width: 250px;" required><span class="error"  ng-show="NewAd.title.$error.required">({{ 'AUTHOR' | translate }} {{ 'REQUIRED' | translate }})</span>
    </br>
    </br>
    <input type="checkbox" ng-model="ad.forexchange" name="forexchange" value="{{ad.forexchange}}">{{ 'FOR_EXCHANGE' | translate }}<br>
   
    
    <textarea class="form-control" name="opis" style="width: 250px; margin-top: 10px;" ng-model="ad.description" rows="6" placeholder="{{ 'DESCRIPTION' | translate }}" required>
</textarea> <span  ng-show="NewAd.opis.$error.required">({{ 'REQUIRED' | translate }})</span>
    
    <br/>
    <a href="#product_detail" class="btn btn-primary" style="margin-top:10px; margin-bottom: 10px; width: 80px; height: 32px; font-size: 13px;" ng-click="objavi(ad)" style="width: 250px;" ng-disabled="NewAd.$invalid">{{ 'PUBLISH' | translate }}</a>
</form>
    </div>   
<div ng-show="!reg_and_login_value" style="margin-left: 20%;">
    <h4>Morate se prijaviti da bi ste objavili oglas za knjigu. </h4>
    <br/>
    <a href="#login">Login</a>
    <br/>
    <a href="#registracija">Registracija</a>
</div>
</body>
</html>
