<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<body ng-app="CategoryApp">
<div class="container"> 
    <h2 class="page-header"> Novi oglas </h2><br/>
<form role="NewAd" ng-controller="CategoryAds" > 
    <alert style="width: 450px;"ng-repeat="alert in new_ad_alerts" type="{{alert.new_ad_type}}">{{alert.new_ad_msg}}</alert>
<select>
<option>-- Odaberite kategoriju -- </option>
<option ng-model = "ad.category_id" ng-repeat = "category in categories" value="{{category.id}}">{{category.name}} </option>
  </select>
    
    <h2></h2>
   
    <input type="text" class="span2 form-control" id="Title" placeholder="Naslov" ng-model="ad.title" style="width: 250px;">
     <input class="form-control" style="margin-bottom: 15px; margin-top: 10px;width: 250px;" type="price" ng-model="ad.price" placeholder="Cijena">
   
    
    <textarea class="form-control" style="width: 250px;" ng-model="ad.description" rows="6" placeholder="Opis">
</textarea>
    
    <br/>
    <a href="#product_detail" class="btn btn-primary" style=" margin-bottom: 10px; width: 80px; height: 32px; font-size: 13px;" ng-click="objavi(ad,$files)" style="width: 250px;">Objavi</a>
</form>
    </div>    
</body>

