<!doctype>
<html>
<head>
<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>
<%= javascript_include_tag "angular-resource" %>
<%= javascript_include_tag "angular-route.min" %>


<body  ng-app="CategoryApp">

<div ng-controller="AdDetail" data-ng-init="pokreni()" >


<div style="margin-left: 25%;">
     
    <img src="{{ad.picture_path}}" height="200" width="200" style="border: solid;"/>
    <br/>
    <p ng-show="isOwner">
    Da promijenite sliku, odaberite sliku ispod:
    <br/>
    <input type="file" ng-file-select="uploadSlikeOglasa($files)" ng-model="file" style="width:120px;"  >
    </p>
   <p> <b>Naziv knjige: </b> {{ad.title}} </p>
        <p><b>Cijena: </b> {{ad.price}} KM</p>
        <p><b>Autor: </b> {{ad.author}}</p>
        <p><b>Odsjek: </b> {{ad.section}}</p>
        <p><b>Godina: </b> {{ad.academic_year}}.</p>
        <p ng-show="zamjena"><b>Zamjena: </b> DA</p>
        <p ng-show="!zamjena"><b>Zamjena: </b> NE</p>
        <b>Opis:</b>
        <p>{{ad.description}}</p>
         
    <div ng-controller="CategoryAds">
    <p><b>Objavio: </b>
   <a href="#profile" ng-click="userProfile(ad.user_id)"> {{ime}} </a></p>
   <p>Rezervacija:</p> {{usernameREZ}}
    </div>
<br/>
<br/>
<b>Svi komentari</b>
<br/>
<br/>
    
<div ng-repeat="comment in comments" class="list-group" style="width: 40%;">
  <a href="#profile" ng-click="userProfile(comment.user_id)" class="list-group-item">
    <h4 class="list-group-item-heading">{{comment.user_username}}</h4>
    
    <p class="list-group-item-text">{{comment.content}}</p>
  </a>
</div>
<br/>
<br/>
<div ng-hide="reg_and_login_value">

Prijavite se da bi ostavili komentar.
</div>
<div ng-show="reg_and_login_value">
Dodaj komentar:
<br/>
    <br/>
<textarea rows="4" cols="50" ng-model="comment.content">
Unesite komentar...</textarea>
<br/>
<button ng-click="posaljiKomentar(comment)" class="btn btn-default btn-sm">Dodaj komentar</button>

</div>

</div>
</body>
</html>

