<!doctype>
<html>
<head>
<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>
<%= javascript_include_tag "angular-resource" %>
<%= javascript_include_tag "angular-route.min" %>


<body  ng-app="CategoryApp">

<div ng-controller="AdDetail" data-ng-init="pokreni()" >


<div style="margin-left: 25%;">
     
    <img src="{{ad.picture_path}}" height="200" width="200" style="border: solid;"/>
    <br/>
    Da promijenite sliku, odaberite sliku ispod:
    <br/>
    <input type="file" ng-file-select="uploadSlikeOglasa($files)" ng-model="file" style="width:120px;" ng-show="isOwner" >
    <h3>{{ad.title}}</h3>
        Opis:
        <p>{{ad.description}}</p>
        <p>Cijena: {{ad.price}} KM</p><br/>
        <p>Autor: {{ad.author}}</p>
    <div ng-controller="CategoryAds">
   <a href="#profile" ng-click="userProfile(ad.user_id)"> {{ime}} </a>
   <p>Rezervacija:</p> {{usernameREZ}}
    </div>
<br/>
<br/>
<b>Komentari</b>
<br/>
<br/>
    
<div ng-repeat="comment in comments" class="list-group" style="width: 40%;">
  <a href="" class="list-group-item">
    <h4 class="list-group-item-heading">{{comment.user_username}}</h4>
    
    <p class="list-group-item-text">{{comment.content}}</p>
  </a>
</div>
<br/>
<br/>
<div ng-hide="reg_and_login_value">

Prijavite se da bi ostavili komentar.
</div>
<div ng-show="reg_and_login_value">
Dodaj komentar:
<br/>
    <br/>
<textarea rows="4" cols="50" ng-model="comment.content">
Unesite komentar...</textarea>
<br/>
<button ng-click="posaljiKomentar(comment)" class="btn btn-default btn-sm">Dodaj komentar</button>

</div>

</div>
</body>
</html>

