<html>
<head>

</head>
<body ng-app="CategoryApp" class="container" >
<div style="">
<h3 class="page-header"> Registration </h3><br/>
<alert style="width: 450px;"ng-repeat="alert in registration_alerts" type="{{alert.registration_type}}">{{alert.registration_msg}}</alert>
<form name="registration" ng-controller="CategoryAds" novalidate>
     <div class="form-group">
     Username:
     <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" ng-model="user.username" style="width: 250px; margin-top: 5px;" required>
    </div>
    <div class="form-group">
    Ime:
     <input type="text" class="form-control" name="firstname" placeholder="Firstname" ng-model="user.firstname" style="width: 250px; margin-top: 5px;" required>
    </div>
    <div class="form-group">
    Prezime:
    <input class="form-control" name="lastname" style=" margin-top: 5px;width: 250px;" type="lastname" ng-model="user.lastname" placeholder="Last Name" required>
    </div>
    <div class="form-group">
    Email:
    <input type="email" name="email" class="span2 form-control" id="inputEmail" placeholder="Email" ng-model="user.email" style="width: 250px; margin-top: 5px;" required>
    </div>
     <div class="form-group">
        Password
    <input class="form-control" name="password" style=" margin-top: 5px;width: 250px;" type="password" ng-model="user.password" placeholder="password" required>
    </div>
     
     <a class="btn btn-primary" style=" margin-bottom: 10px; width: 200px; height: 32px; font-size: 13px;" ng-click="registruj(user)" ng-disabled="registration.$invalid"><font color="white">Registruj se</font></a>
</form>
<a href="#login">Prijava.</a>
</div>
</body>
</html>