<!DOCTYPE html>
<html>
<head>
  
<%= javascript_include_tag "angular-translate" %> 
    
</head>
<body ng-app="CategoryApp">

        <div ng-controller="EmailController"  style=" margint-left: 20%; width: 70%; padding-left: 20%; padding-top: 10px;">
    <ul class="nav nav-tabs">
        <li >
            <a href="#messages" >{{ 'INBOX' | translate }}</a>
        </li>
        <li >
            <a>{{ 'SENT' | translate }}</a>
        </li>
        
        
    </ul>    
    <table data-ng-init="populateSent()" class="table table-bordered table-condensed">
        <tbody>
            <tr>
            <td>{{ 'FROM' | translate }}</td>
            <td>{{ 'TITLE' | translate }}</td>
            <td>{{ 'DATE' | translate }}</td>
            </tr>
            <tr ng-repeat="message in messages" ng-click="selectMessage(message)">
                <td><a href="#profile" ng-click="userProfile(message.receiver_sender_id)">{{ message.receiver_username }}</a></td>
                <td>{{ message.title }}</td>
                <td>{{ message.timestamp | date : 'MM/dd/yyyy'}}</td>
                <td><a href="#show_message" class="btn btn-primary" ng-click="otvoriPoruku(message)" >{{ 'SHOW_MESSAGE' | translate }}</a> </td>
                
            </tr>
        </tbody>
    </table>
    
    <a href="#new_message" class="btn btn-primary" >{{ 'COMPOSE_MESSAGE' | translate }}</a>
    
</div>
        
</body>
</html>