<!DOCTYPE html>
<html>
<head>
    <script  src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"/>
<%= javascript_include_tag "angular-translate" %> 
    
</head>
<body ng-app="CategoryApp">

        <div class="container" ng-app ng-controller="EmailController">
    <ul class="nav nav-tabs">
        <li >
            <a href="#messages" >{{ 'INBOX' | translate }}</a>
        </li>
        <li >
            <a>{{ 'SENT' | translate }}</a>
        </li>
        
        
    </ul>    
    <table data-ng-init="populateSent()" class="table table-bordered table-condensed">
        <tbody>
            <tr>
            <td>{{ 'FROM' | translate }}</td>
            <td>{{ 'TITLE' | translate }}</td>
            <td>{{ 'DATE' | translate }}</td>
            </tr>
            <tr ng-repeat="message in messages" ng-click="selectMessage(message)">
                <td>{{ message.reciever_sender_id }}</td>
                <td>{{ message.title }}</td>
                <td>{{ message.timestamp | date : 'MM/dd/yyyy'}}</td>
                <td><a href="#show_message" class="btn btn-primary" >{{ 'SHOW_MESSAGE' | translate }}</a> </td>
                
            </tr>
        </tbody>
    </table>
    
    <a href="#new_message" class="btn btn-primary" >{{ 'COMPOSE_MESSAGE' | translate }}</a>
    
</div>
        
</body>
</html>