<!DOCTYPE html>
<html>
<head>
    <script  src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"/>
    
</head>
<body ng-app="CategoryApp">

        <div class="container" ng-app ng-controller="EmailController">
    <ul class="nav nav-tabs">
        <li >
            <a href="#messages" >Inbox</a>
        </li>
        <li >
            <a>Sent</a>
        </li>
    </ul>    
    <table data-ng-init="populateSent()" class="table table-bordered table-condensed">
        <tbody>
            <tr>
            <td>From</td>
            <td>Title</td>
            </tr>
            <tr ng-repeat="message in messages">
                <td>{{ message.reciever_sender_id }}</td>
                <td>{{ message.title }}</td>
                <td><a href="#show_message" class="btn btn-primary" >Show message</a> </td>
                
            </tr>
        </tbody>
    </table>
    
    <a href="#new_message" class="btn btn-primary" >Compose message</a>
    
</div>
        
</body>
</html>