<html>
<head>
<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>
<%= javascript_include_tag "ui-bootstrap-0.11.0" %>
<%= javascript_include_tag "ui-bootstrap-tpls-0.11.0" %>

   

</head>
<body ng-app="CategoryApp">
<div>
    <div >
        
        <h3>{{selectedMessage.title}}</h3>
    </div>
    <div class="modal-body">
        <strong>From:</strong> {{selectedMessage.user_sender_id}} <br />
        
        <br />
        <p>
           {{selectedMessage.content}} 
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" ng-click="closePopup()">Close</a>
    </div>
</div>
    </body>
    </html>