<!doctype>
<html>
<head>
<%= javascript_include_tag "angular" %>
<%= javascript_include_tag "index" %>
<%= javascript_include_tag "angular-resource" %>
<%= javascript_include_tag "angular-route.min" %>
<%= javascript_include_tag "angular-translate" %>    


<body  ng-app="CategoryApp">

<div ng-controller="CategoryAds" data-ng-init="oglasiIzKategorije()">
<div style="">
<h3 style="" class="page-header">Telekomunikacije</h3>

<div ng-repeat="result in results" style="" >    
  <div class="row" style="float: left;margin: 15px;margin-top: 0px;margin-left: 0;  width: 23.25%;  ">
    <div class="thumbnail" style="height: 350px;">
      <img src="{{result.picture_path}}"/>
      <div class="caption">
        <h3>{{result.title}}</h3>
        <p>{{ 'DEPARTMENT' | translate }}: {{result.section}}</p>
        <p>{{ 'PRICE' | translate }}: {{result.price}} KM</p>
    <div ng-controller="RatingDemoCtrl">
    <rating  data-ng-init="postaviRating(result.rating)" ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="dodajRating(rate,result.id)"></rating>
    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
</div>
<br/>
          
        
        <!--    <button ng-click="" type="button" class="btn btn-default btn-sm">View</button> -->
            <a ng-click="novaFunkcija(result.id)" href="#/product_detail" type="button" class="btn btn-default btn-sm" >{{ 'VIEW' | translate }}</a>
           <button type="button" class="btn btn-primary btn-sm" ng-click="dodajCijenu(result.price); dodajukorpu(result.id, result.title, result.price); dodajukorpu2(result)"><i class=" icon-shopping-cart">{{ 'ADD_IN_CART' | translate }}</button>
      </div>
  </div>
</div>
 </div>

</div>
</div>
</div>
</body>
</html>

