<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Mega Oglasnik! </h1>
    <p>
      You have successfully signed up to MegaOglasnik.com<br/>
    </p>
    <p>
      Please verify your email with this link: <br/>
      <a href="http://localhost:3000/activate">Verify your email with this link.</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>