<!doctype>
<html>
<head>

		<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	
</head>
<body>
<div class="row" style="float: left; margin: 20px; width: 16%; ">
	<h1><%=t 'Registracija' %></h1>

<%= render 'form' %>
</div>

</body>
</html>
