<!doctype>
<html>
<head>

		<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	
</head>
<body>
<h1>New user</h1>
<p id="error"><%= flash[:error] %></p>
<%= render 'form' %>

<button type="button" class="btn btn-success" onclick="window.location.href='/users'"> Natrag </button>
</body>
</html>
