
<html>
<head>
<!-- bootstrap -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>  

    <!-- x-editable (bootstrap version) -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    
    <!-- main.js -->
        <script src="assets/javascripts/main.js"></script>
</head>
<body>
<div class="container">

<h2> Oglasi</h2><br/>


<ul class="nav nav-tabs">
  <li><a href="/home">Početna</a></li>
  <li class="active"><a href="/ads">Oglasi</a></li>
  <li><a href="/categories">Kategorije</a></li>
  <li><a href="/users">Korisnici</a></li>
  
</ul>


</div>

<div class="panel panel-default">
  <div class="panel-heading"></div>
<div class="panel-body">
  <table class="table table-condensed">
  <tr>
    <th class="darkerBG col-xs-1"></th>
    <th class="darkerBG col-xs-1"></th>
    <th class="darkerBG col-xs-1"></th>
  </tr>
  </br>


  <tr>
     
    
    <td class="darkBG col-xs-1"><a href="#" id="title" data-url="" data-title= "Enter title">Naslov</a></td>
    <td class="darkBG col-xs-1"><a href="#" id="price" data-url=""  data-title= "Enter price">Cijena</a></td>
    <td class="darkBG col-xs-1"><a href="#" id="description" data-url=""  data-title= "Enter description">Opis</a></td> <br>

    
    
   </tr>
   <br/>

</table>
</div>
</div>



<br />


    <div id="wrap">
      <div class="container">
      </div>
    </div>
    <div id="footer">
<br/>
  <a href="http://localhost:3000/home">
    <font size="2"><div class="container" style="text-align: center" >Copyright © All Rights Reserved</div></font>
</a>
    </div>
</body>

</html>